.healthcarec {
  background-color: #f7f7f7;
}

.partnership {
  background-color: #f7f7f7;
  width: 100%;
}

.grid_pic {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: (1, 1fr);
  grid-gap: 10px;
}

.outergrid {
  display: flex;
  justify-content: center;
  /* border: 1px solid; */
  height: 80vh;
  align-items: center;
  /* width: 80vw; */
}

.img-grid {
  width: 380px;
  height: 350px;
  cursor: pointer;
}

.healthcarec h1 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.partnership {
  display: flex;
  justify-content: space-around;
  /* padding-left: 40px; */
}
.partnership img {
  width: 500px;
}

#partners {
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: rgb(255, 251, 0);
  color: rgb(8, 0, 0);

  position: relative;
  top: 20px;
  /* padding-top: 20px; */
}

#partners a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .grid_pic {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: (3, 1fr);
    grid-gap: 10px;
    justify-content: center;
  }

  .grid_pic div {
    background-color: #f7f7f7;

    margin: auto;
  }

  .healthcarec {
    padding-top: 200px;
  }

  .healthcarec > h1 {
    text-align: center;
    padding: 1rem;
    color: black;
    position: relative;
    /* display: block; */
    bottom: 200px;
    font-size: 1.6rem;
    line-height: 40px;
  }

  .partnership {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 350px;

  }

  .partnership img {
    width: 10vw;
    display: none;
  }

  #partners {
    display: none;
  }

  .partnership div p,
  h4 {
    /* padding-top: 10px; */
    padding-bottom: 40px;
  }

  .outergrid {
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
    /* width: 80vw; */
  }

  .partnership img {
    width: 100vw;
  }
}
